# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Leningradskiy,RU,69.3833,178.4167,-4.02,97,100,5.30,overcast clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,56.86,38,0,5.75,clear sky
2,2,Saint-Philippe,RE,-21.3585,55.7679,76.59,85,58,13.40,light rain
3,3,Saint George,US,37.1041,-113.5841,36.79,68,100,3.44,overcast clouds
4,4,Dabhol,IN,17.6000,73.1667,75.33,64,22,6.33,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteri

min_temp = float(input("What is your desired minimum temperature for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 0
What is your desired maximum temperature for your trip? 100

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Ushuaia,AR,-54.8000,-68.3000,56.86,38,0,5.75,clear sky
2,2,Saint-Philippe,RE,-21.3585,55.7679,76.59,85,58,13.40,light rain
3,3,Saint George,US,37.1041,-113.5841,36.79,68,100,3.44,overcast clouds
4,4,Dabhol,IN,17.6000,73.1667,75.33,64,22,6.33,few clouds
5,5,Tuktoyaktuk,CA,69.4541,-133.0374,1.40,85,40,5.75,scattered clouds
6,6,Butaritari,KI,3.0707,172.7902,79.56,74,100,10.54,overcast clouds
7,7,Atuona,PF,-9.8000,-139.0333,77.86,70,5,18.52,clear sky
8,8,Petatlan,MX,17.5167,-101.2667,76.80,76,18,0.29,few clouds
9,9,Vestmannaeyjar,IS,63.4427,-20.2734,49.19,93,100,40.29,mist
10,10,Nome,US,64.5011,-165.4064,23.07,63,0,16.11,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Ushuaia,AR,-54.8000,-68.3000,56.86,38,0,5.75,clear sky
2,2,Saint-Philippe,RE,-21.3585,55.7679,76.59,85,58,13.40,light rain
3,3,Saint George,US,37.1041,-113.5841,36.79,68,100,3.44,overcast clouds
4,4,Dabhol,IN,17.6000,73.1667,75.33,64,22,6.33,few clouds
5,5,Tuktoyaktuk,CA,69.4541,-133.0374,1.40,85,40,5.75,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
671,671,Muros,ES,42.7762,-9.0603,67.68,84,96,21.79,moderate rain
672,672,Buyukcavuslu,TR,41.2423,28.0646,57.40,62,20,12.66,few clouds
673,673,Dolinsk,RU,47.3500,142.8000,33.12,97,100,22.17,snow
674,674,Smithers,CA,54.7804,-127.1743,21.52,86,100,2.30,overcast clouds
675,675,Seoul,KR,37.5683,126.9778,49.39,94,75,1.14,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

               City Country  Max Temp Current Description      Lat       Lng
1           Ushuaia      AR     56.86           clear sky -54.8000  -68.3000
2    Saint-Philippe      RE     76.59          light rain -21.3585   55.7679
3      Saint George      US     36.79     overcast clouds  37.1041 -113.5841
4            Dabhol      IN     75.33          few clouds  17.6000   73.1667
5       Tuktoyaktuk      CA      1.40    scattered clouds  69.4541 -133.0374
..              ...     ...       ...                 ...      ...       ...
671           Muros      ES     67.68       moderate rain  42.7762   -9.0603
672    Buyukcavuslu      TR     57.40          few clouds  41.2423   28.0646
673         Dolinsk      RU     33.12                snow  47.3500  142.8000
674        Smithers      CA     21.52     overcast clouds  54.7804 -127.1743
675           Seoul      KR     49.39       broken clouds  37.5683  126.9778

[642 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ushuaia,AR,56.86,clear sky,-54.8000,-68.3000,
2,Saint-Philippe,RE,76.59,light rain,-21.3585,55.7679,
3,Saint George,US,36.79,overcast clouds,37.1041,-113.5841,
4,Dabhol,IN,75.33,few clouds,17.6000,73.1667,
5,Tuktoyaktuk,CA,1.40,scattered clouds,69.4541,-133.0374,
...,...,...,...,...,...,...,...
671,Muros,ES,67.68,moderate rain,42.7762,-9.0603,
672,Buyukcavuslu,TR,57.40,few clouds,41.2423,28.0646,
673,Dolinsk,RU,33.12,snow,47.3500,142.8000,
674,Smithers,CA,21.52,overcast clouds,54.7804,-127.1743,
675,Seoul,KR,49.39,broken clouds,37.5683,126.9778,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ushuaia,AR,56.86,clear sky,-54.8000,-68.3000,Albatross Hotel
2,Saint-Philippe,RE,76.59,light rain,-21.3585,55.7679,Le four à pain
3,Saint George,US,36.79,overcast clouds,37.1041,-113.5841,Best Western Plus Abbey Inn
4,Dabhol,IN,75.33,few clouds,17.6000,73.1667,Ashwamedh Resort
5,Tuktoyaktuk,CA,1.40,scattered clouds,69.4541,-133.0374,End of The Road Ltd.

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [12]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]

# Display sample data

clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ushuaia,AR,56.86,clear sky,-54.8000,-68.3000,Albatross Hotel
2,Saint-Philippe,RE,76.59,light rain,-21.3585,55.7679,Le four à pain
3,Saint George,US,36.79,overcast clouds,37.1041,-113.5841,Best Western Plus Abbey Inn
4,Dabhol,IN,75.33,few clouds,17.6000,73.1667,Ashwamedh Resort
5,Tuktoyaktuk,CA,1.40,scattered clouds,69.4541,-133.0374,End of The Road Ltd.

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [13]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Albatross Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>clear sky and 56.86 °F</dd>\n</dl>\n\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>light rain and 76.59 °F</dd>\n</dl>\n\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Plus Abbey Inn</dd>\n<dt>City</dt><dd>Saint George</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 36.79 °F</dd>\n</dl>\n\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ashwamedh Resort</dd>\n<dt>City</dt><dd>Dabhol</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.33 °F</dd>\n</dl>\n\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>End of The Road Ltd.</dd>\n<dt>City</dt><dd>Tuktoyaktuk</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 1.4 °F</dd>\n</dl>\n\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.56 °F</dd>\n</dl>\n\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.86 °F</dd>\n</dl>\n\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel California Petatlán</dd>\n<dt>City</dt><dd>Petatlan</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.8 °F</dd>\n</dl>\n\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Glamping & Camping</dd>\n<dt>City</dt><dd>Vestmannaeyjar</dd>\n<dt>Country</dt><dd>IS</dd>\n<dt>Current Weather</dt><dd>mist and 49.19 °F</dd>\n</dl>\n\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Dredge 7 Inn</dd>\n<dt>City</dt><dd>Nome</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 23.07 °F</dd>\n</dl>\n\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1  -54.8000  -68.3000
2  -21.3585   55.7679
3   37.1041 -113.5841
4   17.6000   73.1667
5   69.4541 -133.0374
6    3.0707  172.7902
7   -9.8000 -139.0333
8   17.5167 -101.2667
9   63.4427  -20.2734
10  64.5011 -165.4064

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)


# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))